body{
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#myvideo{
    width: 100vw;
    height: 100vh;
    position: sticky;
    right: 0;
    bottom: 0;
    object-fit: cover;
	-o-object-fit: cover;
	opacity: 0.6;
    scroll-snap-align: start;
}
#fav-hero-container{
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255,255,255,.2);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.favImage{
    margin-top:2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color: red;
    position: fixed;
    top: 2rem;
    bottom: 0;
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover{
    border-left: 2px solid rgba(0,255,255,.5);
    border-right: 2px solid rgba(0,255,255,.5);
    border-radius: 2rem;
}
#fav-hero-container div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

#fav-hero-container div button{
    outline: none;
    border: none;
    margin-bottom: 20px;
}

#fav-hero-container div button:hover{
    box-shadow: blueviolet 1px 1px 5px 1px;
}

div a{
    font-size: 1rem;
    text-decoration: none;
    display: block;
    width: 11.5rem;
}
.removeFav{
    width: 5rem;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 5rem;
    color: red;
    font-size: 1.5rem;
    padding: .5rem;
}
.removeFav:hover{
    background-color: black;
    cursor: pointer;
}