body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: cursive;
}
/* handling background */
#myvideo{
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 5px;
    right: 0;
    bottom: 0;
    object-fit: cover;
	-o-object-fit: cover;
	opacity: 0.6;
    scroll-snap-align: start;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 1px;
    bottom: 0;
    color: #f1f1f1;;
    padding: 20px;
}

/* handling heading section */
.head{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: white;
    text-shadow: 2px 5px red;
    font-size: 1rem;
}
.head a{
    height: 8vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-shadow: 2px 5px black;
    color: white;
}
.head a:hover{
    border-top: 2px solid rgba(0,0,0,.2);
    border-bottom: 2px solid rgba(0,0,0,.2);
}
#data-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 5rem;
}

/* search section */
#searchHero{
    text-align: center;
    background-color:rgba(255,255,255,.2);
    width: 40vw;
    height: 7vh;
    border-style: none;
    border-left: 1px solid rgba(255,255,255,.8);
    border-right: 1px solid rgba(255,255,255,.8);
    font-size: 1rem;
    font-family:cursive;
    box-shadow: 1px 1px 15px 10px rgba(255,0,0,.7);
    border-radius: 2rem;
    color: black;
    text-align: center;
    text-transform: capitalize;
}
#searchHero:hover{
    border-bottom: 2px solid rgba(0,255,255,.5);
    border-top: 2px solid rgba(0,255,255,.5);
    border-radius: 2rem;
    background-color: rgba(0,0,0,.2);
    color: whitesmoke;
}
.image-size{
    width: 70px;
    height: 70px;
    margin-left: 2rem;
    border-radius: 2rem;
}

/* contain superheroes */
.super-contain{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    border: 2px solid rgba(255,0,0,.4);
    box-shadow: 2px 2px 20px 10px rgba(255,0,0,.4);
    border-left: 2px solid rgba(255,255,255,.4);
    border-right: 2px solid rgba(255,255,255,.4);
    overflow: scroll;
    height: 50vh;
    width: 40%;
    padding-top: 2rem;
    margin-top: 1rem;
}

::-webkit-scrollbar{
    display: none;
}
ul li{
    width: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-bottom: .5rem;
    background-color: rgba(0,255,255,.1); 
    position: relative;
    left:-1rem;
}
ul li:hover{
    background-color: rgba(0,255,255,.5); 
}
#delFav{
    color: red;
    font-size: 25px;
}
#delFav:hover{
    cursor:pointer;
}
#addFav:hover{
    cursor:pointer;
}
#addFav{
    font-size: 25px;
    color: lightgray;
}
.search-item a{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    text-shadow: none;
    margin:1rem;
}